@import "tailwindcss";

@theme {
  --color-primary: hsl(257, 40%, 49%);
  --color-secondary: hsl(300, 69%, 71%);
  --color-pink: hsl(322, 100%, 66%);

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}
